<!DOCTYPE html>
<style>
.alignLeft {
	padding-left: 10px;
}

.alignRight {
	padding-right: 10px;
}

.Width100per {
	width: 100%;
}

.Width98per {
	width: 98%;
}

.Width99per {
	width: 99%;
}

.BorderBottom {
	border-bottom: 1px solid black;
}

.BorderLeft {
	border-left: 1px solid black;
}

.BorderRight {
	border-right: 1px solid black;
}

.BorderTop {
	border-top: 1px solid black;
}

.Width50per {
	width: 50%;
}

.Width25per {
	width: 25%;
}

.aligncenter {
	text-align: center
}

.alignright {
	text-align: right;
}

.verticalalignbottom {
	vertical-align: bottom;
}

.height105px {
	height: 101px;
}

.height10px {
	height: 8px;
}

.height35px {
	height: 34px;
}

.height50px {
	height: 50px;
}

.width30per {
	width: 30%;
}

.Width40per {
	width: 40%;
}

.Width45per {
	width: 45%;
}

.Width60per {
	width: 60%;
}

.width20per {
	width: 27%;
}

.width15per {
	width: 15%;
}

.font14px {
	font-size: 13px;
}

.font15px {
	font-size: 15px;
}

.font16px {
	font-size: 16px;
}

.font14new {
	font-size: 14px;
}

.font12px {
	font-size: 12px;
}

.font17px {
	font-size: 17px;
}

.font22px {
	font-size: 24px;
}

.fontStyle {
	font: 15px Courier New
}

.biggerfontStyle {
	font: 16px Courier New
}

.height100px {
	height: 100px;
}

.Width10per {
	width: 10%;
}

.Width80per {
	width: 80%;
}

.Width75per {
	width: 75%;
}

.Width65per {
	width: 65%;
}

.Width70per {
	width: 70%;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

.fontsmall {
	font-size: 11px;
}

.upperCase {
	text-transform: uppercase;
}

td {
	padding: 0px;
	word-break: keep-all;
	white-space: nowrap;
}

.width30per {
	width: 35%
}

.width30px {
	width: 30%
}

.verticalAlignTop {
	vertical-align: top;
}

.textalignright {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.hide {
	display: none;
}

.height20px {
	height: 17px;
}

.height25px {
	height: 25px;
}

.height22px {
	height: 20px;
}

.height90px {
	height: 90px;
}

.paddingLeftLabel {
	padding-left: 5px;
}

.paddingLeftLabel3px {
	padding-left: 3px;
}

.paddingRightLabel {
	padding-right: 5px;
}

.pageBreakNeeded {
	word-wrap: none;
	word-break: break-all;
	white-space: normal;
}

.pageBreakNeeded1 {
	word-wrap: none;
	word-break: narmal;
	white-space: normal;
}

.confirm {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light',
		'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 60%;
	min-width: 370px;
	max-width: 370px;
	height: 150px;
	background: #E2E2E2;
	border-radius: 10px;
	padding-top: 50px;
	margin: 0;
	border-top: 1px solid white;
	animation: fade 1s ease 1 forwards;
}

.ChargesTable tr td:first-child {
	vertical-align: text-top;
	width: 59%;
}

.ChargesTable tr td:last-child {
	vertical-align: text-top;
	width: 41%;
}

.sgstText, .cgstText, .igstText {
	display: none;
}

.ellipsis {
	max-width: 85px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
<div style="display: none;" data-popup='popup' id="popUpContent580"></div>
<table id="table1" class="Width98per" style="position: absolute; top: 85px; margin-right: 2px;">
	<tbody>
		<tr id="heaDer1" class="hide">
			<td class="pageBreakNeeded aligncenter Width100per BorderLeft BorderRight BorderTop BorderBottom" colspan="2">
				<table style="width: 100%">
					<tr>
						<td><img src="/ivcargo/images/Logo/bhor.png" width="740px" height="80px" alt=""></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="verticalAlignTop BorderBottom BorderRight BorderTop ">
								<table class="Width100per">
									<tr>
										<td class=" font14px paddingLeftLabel3px width50per alignLeft paddingRightLabel BorderLeft BorderRight">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per">
															<tr>
																<td class="Width100per verticalAlignTop height20px">
																	<span data-selector="invoiceNumber" class="font14px bold"></span>&nbsp; 
																	<span class="pageBreakNeeded font14px" data-lr="consignorInvoiceNo"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per verticalalignbottom height20px">
																	<span data-selector="invoiceDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded font14px" data-lr='consignorInvoiceDate'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="font14px width30px verticalAlignTop paddingRightLabel">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per">
															<tr>
																<td class="bold paddingRightLabel BorderBottom height22px">
																	<span data-selector="lrNumber"></span>&nbsp; <span
																	class="bold pageBreakNeeded" data-lr='number'
																	style="font-size: 15px;"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel BorderBottom height22px">
																	<span data-selector="bookingDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded" data-lr='dateTime'></span>
																<td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel height22px">
																	<span data-selector="vehicleNumber"
																	class="font14px bold"></span>&nbsp; <span
																	class="pageBreakNeeded" data-lr='vehicleNumber'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="upperCase height22px Width50per BorderLeft BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="sourceBranch" class="font14px bold"></span>&nbsp;
												<span class="bold font14px" data-lr='lrSourceDisplayName'></span><span
												class="bold  font14px"></span>
											</td>
											<td class=" upperCase height22px Width50per BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="destinationBranch"
												class="font14px bold"></span>&nbsp; <span
												class="bold font14px" data-lr='lrDestination'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderLeft BorderRight pageBreakNeeded height35px verticalAlignTop"><span
												class="paddingLeftLabel3px font14px bold"
												data-selector="consignorname"></span> <span
												class="font14px pageBreakNeeded" data-consignor="name"></span></td>
											<td class="BorderRight pageBreakNeeded Width50per height35px verticalAlignTop"><span
												class="paddingLeftLabel3px font14px bold"
												data-selector="consigneename"></span> <span
												class="font14px pageBreakNeeded" data-consignee="name"></span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="height10px ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderBottom BorderRight font14px BorderLeft height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px font14px bold"></span>&nbsp; <span
												class="" data-consignor='address'></span>
											</td>

											<td class="Width50per BorderBottom BorderRight font14px height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px font14px bold"></span>&nbsp; <span
												class="" data-consignee='address'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per height90px">
					<tbody>
						<tr>
							<td class="verticalAlignTop Width45per BorderBottom BorderLeft">
								<table class="Width100per verticalAlignTop">
									<tr>
										<td class="Width100per verticalAlignTop">
											<table class="Width100per verticalAlignTop  height105px BorderBottom">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per verticalAlignTop">
															<thead>
														<tr>
															<th data-selector="consignmentQuantity" 
																style="border-bottom: 1px solid;"
																class="aligncenter BorderRight font14px lableFont paddingLeft"></th>
															<th data-selector="ArtType"
																style="border-bottom: 1px solid;" 
																class="aligncenter BorderRight font14px lableFont paddingLeft"></th>
															<th  class="aligncenter font14px lableFont"
																data-selector="description"
																style="border-bottom: 1px solid; border-left: 1px solid;"></th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td data-consignmentquantity='1' style="height:20px;border-right: 1px solid;"
																class="width30 aligncenter BorderRight font14px"></td>
															<td data-consignmentpackingtype='1' style="height:20px;border-right: 1px solid;"
																class="width25 aligncenter paddingRight BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='1' style="height:20px"
																class="width30per saidToContain paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='2' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='2' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='2' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='3' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='3' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='3' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='4' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter borderRight  font14px"></td>
															<td data-consignmentpackingtype='4' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  borderRight font14px"></td>
															<td data-consignmentsaidtocontain='4' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
													</tbody>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr valign="bottom">
										<td class="font14px paddingLeftLabel Width100per" valign="bottom">
											<span class="bold">Total:</span> <span class="paddingLeftLabel" data-lr='totalQuantity'></span>
										</td>
									</tr>
								</table>
							</td>
							<td class="verticalAlignTop width30per height105px">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px BorderBottom font14px BorderTop Width60per bold">
																<span data-selector="freight"></span> (<span data-lr='lrType'></span>)
															</td>
															<td class=" alignRight alignright pageBreakNeeded width30px  BorderBottom font14px BorderLeft BorderTop Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class="alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class="font15px bold BorderTop BorderBottom paddingLeftLabel Width60per" data-selector="grandTotal"></td>
															<td class="font15px textalignright bold BorderTop BorderBottom BorderLeft alignRight"><span data-lr=""> </span></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class=" BorderRight BorderBottom Width10per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="100%">
												<div class="aligncenter" data-lrbarcode="number">
													<div id="barcode1"></div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="height22px BorderBottom BorderRight BorderLeft font14px paddingLeftLabel Width100per ">
								<span class="bold" data-selector="remark"></span> <span data-lr='remark'></span>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop BorderBottom BorderRight ">
				<table class="Width100per">
					<tr>
						<td class="font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight" valign="top">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per pageBreakNeeded"><span class="bold"> Ewaybill : </span><span data-lr='EWayBillNo'></span></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td class=" font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per height20px"><span
													data-selector="actualWeight" class="font14px bold"></span>&nbsp;<span
													class=" pageBreakNeeded font14px"
													data-lr="actualWeightConsignor"></span></td>
											</tr>
											<tr>
												<td class="Width100per height20px">
													<span data-selector="invoiceValue" class="font14px bold"></span>&nbsp;<span
													class=" pageBreakNeeded font14px" data-lr="decalredValue"></span>
												</td>
											</tr>
											<tr>
												<td class="Width100per height20px">
													<span class="bold" data-selector="serviceTaxPaidBy"> </span> <span data-lr='taxPaidBy'></span>
												<td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td class=" font14px width30px aligncenter verticalAlignTop">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop   ">
										<table class="Width100per">
											<tr>
												<td class="bold height20px"><span>For Bhor Transport Corporation Pvt. Ltd.</span></td>
											</tr>
											<tr>
												<td class="Width100per height20px"><span data-executive='name'></span></td>
											</tr>
											<tr>
												<td class="Width100per height20px">Sign Booking Clerk</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table id="table2" class="Width99per" style="margin-top: 530px; margin-right: 2px;">
	<tbody>
		<tr id="heaDer2" class="hide">
			<td class="pageBreakNeeded aligncenter Width100per BorderLeft BorderRight BorderTop BorderBottom" colspan="2">
				<table style="width: 100%">
					<tr>
						<td><img src="/ivcargo/images/Logo/bhor.png" width="740px" height="80px" alt=""></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="verticalAlignTop BorderBottom BorderRight BorderTop ">
								<table class="Width100per">
									<tr>
										<td class=" font14px paddingLeftLabel3px width50per alignLeft paddingRightLabel BorderLeft BorderRight">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per">
															<tr>
																<td class="Width100per verticalAlignTop height20px">
																	<span data-selector="invoiceNumber"
																	class="font14px bold"></span>&nbsp; <span
																	class=" pageBreakNeeded font14px"
																	data-lr="consignorInvoiceNo"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per verticalalignbottom height20px">
																	<span data-selector="invoiceDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded font14px"
																	data-lr='consignorInvoiceDate'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class=" font14px width30px verticalAlignTop paddingRightLabel ">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per">
															<tr>
																<td class="bold paddingRightLabel BorderBottom height22px">
																	<span data-selector="lrNumber"></span>&nbsp; <span
																	class="bold pageBreakNeeded" data-lr='number'
																	style="font-size: 15px;"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel BorderBottom height22px">
																	<span data-selector="bookingDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded" data-lr='dateTime'></span>
																<td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel height22px">
																	<span data-selector="vehicleNumber"
																	class="font14px bold"></span>&nbsp; <span
																	class="pageBreakNeeded" data-lr='vehicleNumber'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="upperCase height22px  Width50per BorderLeft BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="sourceBranch" class="font14px bold"></span>&nbsp;
												<span class="bold font14px" data-lr='lrSourceDisplayName'></span><span
												class="bold  font14px"></span>
											</td>
											<td class=" upperCase height22px  Width50per BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="destinationBranch"
												class="font14px bold"></span>&nbsp; <span
												class="bold font14px" data-lr='lrDestination'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderLeft BorderRight pageBreakNeeded height35px verticalAlignTop"><span
												class=" paddingLeftLabel3px font14px bold"
												data-selector="consignorname"></span> <span
												class="font14px pageBreakNeeded" data-consignor="name"></span></td>
											<td class="BorderRight pageBreakNeeded Width50per height35px verticalAlignTop"><span
												class=" paddingLeftLabel3px font14px bold"
												data-selector="consigneename"></span> <span
												class="font14px pageBreakNeeded" data-consignee="name"></span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="height10px ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderBottom BorderRight font14px BorderLeft height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px font14px bold"></span>&nbsp; <span
												class="" data-consignor='address'></span>
											</td>

											<td class="Width50per BorderBottom BorderRight font14px height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px font14px bold"></span>&nbsp; <span
												class="" data-consignee='address'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per height90px">
					<tbody>
						<tr>
							<td class="verticalAlignTop Width45per BorderBottom BorderLeft">
								<table class="Width100per verticalAlignTop">
									<tr>
										<td class="Width100per verticalAlignTop">
											<table class="Width100per verticalAlignTop  height105px BorderBottom">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per verticalAlignTop">
															<thead>
														<tr>
															<th data-selector="consignmentQuantity" 
																style="border-bottom: 1px solid;"
																class="aligncenter BorderRight font14px  lableFont paddingLeft"></th>
															<th data-selector="ArtType"
																style="border-bottom: 1px solid;" 
																class="aligncenter BorderRight font14px  lableFont paddingLeft"></th>
															<th  class="aligncenter font14px  lableFont"
																data-selector="description"
																style="border-bottom: 1px solid; border-left: 1px solid;"></th>
														</tr>
													</thead>
													<tbody>  
														<tr>
															<td data-consignmentquantity='1' style="height:20px;border-right: 1px solid;"
																class="width30  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='1' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='1' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='2' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='2' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='2' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='3' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='3' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='3' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='4' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter borderRight  font14px"></td>
															<td data-consignmentpackingtype='4' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  borderRight font14px"></td>
															<td data-consignmentsaidtocontain='4' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
													</tbody>
													</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr valign="bottom">
										<td class="font14px paddingLeftLabel Width100per" valign="bottom"><span class="bold">Total:</span> <span
											class="paddingLeftLabel" data-lr='totalQuantity'></span></td>
									</tr>
								</table>
							</td>
							<td class="verticalAlignTop width30per height105px">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px BorderBottom font14px BorderTop Width60per bold">
																<span data-selector="freight"></span> (<span data-lr='lrType'></span>)
															</td>
															<td class=" alignRight alignright pageBreakNeeded width30px  BorderBottom font14px BorderLeft BorderTop Width40per"
																data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per"
																data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per"
																data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per"
																data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per"
																data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per"
																data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per"
																data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per"
																data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per"
																data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per"
																data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per"
																data-selector=""></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class="font15px bold BorderTop BorderBottom paddingLeftLabel Width60per"
																data-selector="grandTotal"></td>
															<td class="font15px textalignright bold BorderTop BorderBottom BorderLeft alignRight">
																<span data-lr=""> </span>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class=" BorderRight BorderBottom Width10per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="100%"><div class="aligncenter" data-lrbarcode="number">
													<div id="barcode2"></div>
											</div></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="height22px BorderBottom BorderRight BorderLeft font14px paddingLeftLabel Width100per ">
								<span class="bold" data-selector="remark"></span> <span
								data-lr='remark'></span>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop BorderBottom BorderRight ">
				<table class="Width100per">
					<tr>
						<td class=" font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight" valign="top">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per pageBreakNeeded"><span
													class="bold"> Ewaybill : </span><span data-lr='EWayBillNo'></span><td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td
							class=" font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per height20px"><span
													data-selector="actualWeight" class="font14px bold"></span>&nbsp;<span
													class=" pageBreakNeeded font14px"
													data-lr="actualWeightConsignor"></span></td>
											</tr>
											<tr>
												<td class="Width100per height20px"><span
													data-selector="invoiceValue" class="font14px bold"></span>&nbsp;<span
													class=" pageBreakNeeded font14px" data-lr="decalredValue"></span>
												</td>
											</tr>
											<tr>
												<td class="Width100per height20px"><span class="bold"
													data-selector="serviceTaxPaidBy"> </span> <span
													data-lr='taxPaidBy'></span>
												<td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td class=" font14px width30px aligncenter verticalAlignTop">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop   ">
										<table class="Width100per">
											<tr>
												<td class="bold height20px"><span>For Bhor Transport Corporation Pvt. Ltd.</span></td>
											</tr>
											<tr>
												<td class="Width100per height20px"><span data-executive='name'></span></td>
											</tr>
											<tr>
												<td class="Width100per height20px">Sign Booking Clerk</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table id="table3" class="Width99per" style="margin-top: 110px; margin-right: 2px;">
	<tbody>
		<tr id="heaDer3" class="hide">
			<td class="pageBreakNeeded aligncenter Width100per BorderLeft BorderRight BorderTop BorderBottom" colspan="2">
				<table style="width: 100%">
					<tr>
						<td><img src="/ivcargo/images/Logo/bhor.png" width="740px" height="80px" alt=""></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="verticalAlignTop BorderBottom BorderRight BorderTop ">
								<table class="Width100per">
									<tr>
										<td class=" font14px paddingLeftLabel3px width50per alignLeft paddingRightLabel BorderLeft BorderRight">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per">
															<tr>
																<td class="Width100per verticalAlignTop height20px">
																	<span data-selector="invoiceNumber"
																	class="font14px bold"></span>&nbsp; <span
																	class=" pageBreakNeeded font14px"
																	data-lr="consignorInvoiceNo"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per verticalalignbottom height20px">
																	<span data-selector="invoiceDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded font14px"
																	data-lr='consignorInvoiceDate'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class=" font14px width30px verticalAlignTop paddingRightLabel ">
											<table class="Width100per">
												<tr>
													<td class="Width100per verticalAlignTop   ">
														<table class="Width100per">
															<tr>
																<td class="bold paddingRightLabel BorderBottom height22px">
																	<span data-selector="lrNumber"></span>&nbsp; <span
																	class="bold pageBreakNeeded" data-lr='number'
																	style="font-size: 15px;"></span>
																</td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel BorderBottom height22px">
																	<span data-selector="bookingDate" class="font14px bold"></span>&nbsp;
																	<span class=" pageBreakNeeded" data-lr='dateTime'></span>
																<td>
															</tr>
															<tr>
																<td class="Width100per paddingRightLabel height22px">
																	<span data-selector="vehicleNumber"
																	class="font14px bold"></span>&nbsp; <span
																	class="pageBreakNeeded" data-lr='vehicleNumber'></span>
																<td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="upperCase  Width50per height22px BorderLeft BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="sourceBranch" class="font14px bold"></span>&nbsp;
												<span class="bold font14px" data-lr='lrSourceDisplayName'></span><span
												class="bold  font14px"></span>
											</td>
											<td class=" upperCase  Width50per height22px BorderRight paddingLeftLabel3px pageBreakNeeded verticalAlignTop">
												<span data-selector="destinationBranch"
												class="font14px bold"></span>&nbsp; <span
												class="bold font14px" data-lr='lrDestination'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="Width100per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderLeft BorderRight pageBreakNeeded height35px verticalAlignTop"><span
												class=" paddingLeftLabel3px font14px bold"
												data-selector="consignorname"></span> <span
												class="font14px pageBreakNeeded" data-consignor="name"></span></td>
											<td class="BorderRight pageBreakNeeded Width50per height35px verticalAlignTop"><span
												class=" paddingLeftLabel3px font14px bold"
												data-selector="consigneename"></span> <span
												class="font14px pageBreakNeeded" data-consignee="name"></span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td class="height10px ">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width50per BorderBottom BorderRight font14px BorderLeft height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px bold font14px"></span>&nbsp; <span
												class=" font14px" data-consignor='address'></span>
											</td>

											<td class="Width50per BorderBottom BorderRight font14px height35px verticalAlignTop ellipsis">
												<span data-selector="address"
												class="paddingLeftLabel3px bold font14px"></span>&nbsp; <span
												class=" font14px" data-consignee='address'></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per height90px">
					<tbody>
						<tr>
							<td class="verticalAlignTop Width45per BorderBottom BorderLeft">
								<table class="Width100per verticalAlignTop">
									<tr>
										<td class="Width100per verticalAlignTop">
											<table class="Width100per verticalAlignTop  height105px BorderBottom">
												<tr>
													<td class="Width100per verticalAlignTop">
														<table class="Width100per verticalAlignTop">
															<thead>
														<tr>
															<th data-selector="consignmentQuantity" 
																style="border-bottom: 1px solid;"
																class="aligncenter BorderRight font14px  lableFont paddingLeft"></th>
															<th data-selector="ArtType"
																style="border-bottom: 1px solid;" 
																class="aligncenter BorderRight font14px  lableFont paddingLeft"></th>
															<th  class="aligncenter font14px  lableFont"
																data-selector="description"
																style="border-bottom: 1px solid; border-left: 1px solid;"></th>
														</tr>
													</thead>
													<tbody>  
														<tr>
															<td data-consignmentquantity='1' style="height:20px;border-right: 1px solid;"
																class="width30  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='1' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='1' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='2' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='2' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='2' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='3' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter BorderRight  font14px"></td>
															<td data-consignmentpackingtype='3' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  BorderRight font14px"></td>
															<td data-consignmentsaidtocontain='3' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														<tr>
															<td data-consignmentquantity='4' style="height:20px;border-right: 1px solid;"
																class="width20  aligncenter borderRight  font14px"></td>
															<td data-consignmentpackingtype='4' style="height:20px;border-right: 1px solid;"
																class="width25  aligncenter paddingRight  borderRight font14px"></td>
															<td data-consignmentsaidtocontain='4' style="height:20px"
																class="width30per saidToContain  paddingLeft aligncenter font14px"></td>
														</tr>
														</tbody>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr valign="bottom">
										<td class="font14px paddingLeftLabel Width100per "
											valign="bottom"><span class="bold">Total:</span> <span
											class="paddingLeftLabel" data-lr='totalQuantity'></span></td>
									</tr>
								</table>
							</td>
							<td class="verticalAlignTop width30per height105px">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px BorderBottom font14px BorderTop Width60per bold">
																<span data-selector="freight"></span> (<span data-lr='lrType'></span>)
															</td>
															<td class=" alignRight alignright pageBreakNeeded width30px  BorderBottom font14px BorderLeft BorderTop Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
														<tr>
															<td class=" paddingLeftLabel3px  pageBreakNeeded width50px font14px Width60per" data-selector="">&nbsp;</td>
															<td class=" alignRight alignright pageBreakNeeded width30px font14px Width40per" data-selector=""></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td class="Width100per BorderRight BorderLeft verticalAlignTop">
												<table class="Width100per ChargesTable">
													<tbody>
														<tr>
															<td class="font15px bold BorderTop BorderBottom paddingLeftLabel Width60per" data-selector="grandTotal"></td>
															<td class="font15px textalignright bold BorderTop BorderBottom BorderLeft alignRight">
																<span data-lr=""> </span>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class=" BorderRight BorderBottom Width10per">
								<table class="Width100per">
									<tbody>
										<tr>
											<td class="100%"><div class="aligncenter" data-lrbarcode="number">
													<div id="barcode3"></div>
											</div></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop Width100per">
				<table class="Width100per">
					<tbody>
						<tr>
							<td class="height22px BorderBottom BorderRight BorderLeft font14px paddingLeftLabel Width100per ">
								<span class="bold" data-selector="remark"></span> <span data-lr='remark'></span>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="verticalAlignTop BorderBottom BorderRight ">
				<table class="Width100per">
					<tr>
						<td class=" font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight" valign="top">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per pageBreakNeeded"><span class="bold"> Ewaybill : </span><span data-lr='EWayBillNo'></span></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td class="font14px paddingLeftLabel3px width25per alignLeft paddingRightLabel BorderLeft BorderRight">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="Width100per height20px">
													<span data-selector="actualWeight" class="font14px bold"></span>&nbsp;
													<span class=" pageBreakNeeded font14px" data-lr="actualWeightConsignor"></span>
												</td>
											</tr>
											<tr>
												<td class="Width100per height20px">
													<span data-selector="invoiceValue" class="font14px bold"></span>&nbsp;
													<span class=" pageBreakNeeded font14px" data-lr="decalredValue"></span>
												</td>
											</tr>
											<tr>
												<td class="Width100per height20px">
													<span class="bold" data-selector="serviceTaxPaidBy"> </span> 
													<span data-lr='taxPaidBy'></span>
												<td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
						<td class="font14px width30px aligncenter verticalAlignTop">
							<table class="Width100per">
								<tr>
									<td class="Width100per verticalAlignTop">
										<table class="Width100per">
											<tr>
												<td class="bold height20px"><span>For Bhor Transport Corporation Pvt. Ltd.</span></td>
											</tr>
											<tr>
												<td class="Width100per height20px"><span data-executive='name'></span></td>
											</tr>
											<tr>
												<td class="Width100per height20px">Sign Booking Clerk</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>