/* Modal Content */
.ewaybill-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.ewaybill-modal-header {
    padding: 2px 16px !important;
    background-color: #337ab7;
    color: white;
    min-height: 16.42857143px;
     border-bottom: 1px solid #e5e5e5;
}
/* Modal Body */
.ewaybill-modal-body {
	position: relative;
  	padding: 15px;
	padding: 2px 16px;
	height: auto;
}