
.web_dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .15;
	filter: alpha(opacity = 1);
	-moz-opacity: .1;
	z-index: 0;
	display: none;
}

.web_dialog_print {
	display: none;
	position: fixed;
	width: 250px;
	height: 150px;
	top: 50%;
	left: 60%;
	margin-left: -160px;
	margin-top: -80px;
	background-color: #ffffff;
	border: 2px solid #336699;
	padding: 0px;
	z-index: 0;
	font-family: Verdana;
	font-size: 10pt;
}

.web_dialog_title {
	border-bottom: solid 2px #336699;
	background-color: #336699;
	padding: 4px;
	color: White;
	font-weight: bold;
}

.web_dialog_title a {
	color: White;
	text-decoration: none;
}
